[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
greenlet = "*"
itsdangerous = "*"
Flask = "*"
Flask-Login = "*"
Flask-SQLAlchemy = "*"
Jinja2 = "*"
MarkupSafe = "*"
SQLAlchemy = "*"
Werkzeug = "==2.3.6"
python-dateutil = "*"
six = "*"
chardet = "*"
flask-cors = "*"
flask-mail = "*"
python-dotenv = "*"
pymysql = "*"
jwt = "*"
pyjwt = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.9"
