[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
greenlet = "*"
itsdangerous = "*"
Flask = "*"
Flask-Login = "*"
Flask-SQLAlchemy = "*"
Jinja2 = "*"
MarkupSafe = "*"
SQLAlchemy = "*"
Werkzeug = "*"
python-dateutil = "*"
six = "*"
chardet = "*"
flask-cors = "*"
flask-mail = "*"
python-dotenv = "*"
pymysql = "*"
pyjwt = "*"
xlrd = "*"
google-auth = "*"
requests = "*"
openpyxl = "*"
czech-sort = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.10"
