{% extends "slovnik/navbar.html" %}
{% block content %}
<h2>Úprava slovíčka</h2>

<form method="post">
    <div class="row align-items-center g-2">
        <div class="col-md">
            <input type="text" class="form-control" name="front" placeholder="pojem" value="{{front}}"/>
        </div>
        <div class="col-md">
            <input type="text" class="form-control" name="back" placeholder="vysvětlení" value="{{back}}"/>
        </div>
        <div class="col-auto">
            <button class="default-button" type="submit" name="update_term" value="whatever">Upravit slovíčko</button>
        </div>
    </div>
</form>

{% endblock %}