body {
    background-color: #FFF1E2 !important;
}
header{
    background-color: #FFF1E2;
}
.dropdown-menu{
    background-color: #FFF1E2 !important;
}
.alertcolor-info {
    background-color: rgb(253, 235, 138  );
}
.alertcolor-error  {
    background-color: rgb(255, 121, 121);
}
.alertcolor-success {
    background-color: rgb(138, 253, 138  );
}
canvas {
    background-color: white;
}
.border-orange{
    border: 1px solid;
    border-color: rgb(243,133,8);
}
.vydaje-white-div {
    background-color: white;
}
.main-section{
    background-color: white;
}
.suggestion{
    background-color: #FFF1E2;
}
.link{
    color:darkblue;
}
.panel-link{
    min-height: 10rem;
    background-color: #FFF1E2;
    text-decoration: none;
    color: black;
    width: 100%;
    font-weight: bold;
}
.panel-link:hover{
    background-color: aliceblue;
    color:orange;
}
.footer-section{
    background-color: #FFFAF6;
}
.custom-button{
    background-color: rgb(243,133,8) !important;
    color: white !important;
}
.custom-button:hover{
    background-color: rgb(243,234,224) !important;
    color: rgb(243,133,8) !important;
    border-color: rgb(243,133,8) !important;
}
.tooltip1 {
    position: relative;
}
  
  .tooltip1 .tooltiptext1 {
    visibility: hidden;
    width: auto;
    min-width: 100px;
    background-color: white;
    color: black;
    text-align: center;
    border: 2px solid black;
    border-radius: 6px;
    padding: 5px 0;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 110%;
    left: auto;
    margin-left: -60px;
}
  
  .tooltip1:hover .tooltiptext1 {
    visibility: visible;
}