body {
    background-color: #FFF1E2 !important;
}
header{
    background-color: #FFF1E2;
}
.dropdown-menu{
    background-color: #FFF1E2 !important;
}

.alertcolor-info {
    background-color: rgb(253, 235, 138  );
}
.alertcolor-error  {
    background-color: rgb(255, 121, 121);
}
.alertcolor-success {
    background-color: rgb(138, 253, 138  );
}
canvas {
    background-color: white;
}

.border-orange{
    border: 1px solid;
    border-color: rgb(243,133,8);
}

.white-div {
    background-color: white;
}
.main-section{
    /* background-color: #FEE5CB; */
    background-color: white;
}
.datecolumn {
    width: auto;
}

.container {
    margin: 20px;
}
hr {
    margin: 5px;
}

.link{
    color:darkblue;
}


.col-md-1 {
    width: 130px;
}
.w1 {
    width: 220px;
}
.w2 {
    width: 1500px;
}