body {
    background-color: #FFF1E2 !important;
}
header{
    background-color: #FFF1E2;
}
.dropdown-menu{
    background-color: #FFF1E2 !important;
}
.alertcolor-info {
    background-color: rgb(253, 235, 138  );
}
.alertcolor-error  {
    background-color: rgb(255, 121, 121);
}
.alertcolor-success {
    background-color: rgb(138, 253, 138  );
}
canvas {
    background-color: white;
}
.border-orange{
    border: 1px solid;
    border-color: rgb(243,133,8);
}
.vydaje-white-div {
    background-color: white;
}
.main-section{
    background-color: white;
    border: 2px solid rgb(243,133,8);
    border-radius: .3rem;
}

@media (max-width: 590px) {
    .main-section{
        width: 100%;
        border-radius: 0 !important;
        border-left: none;
        border-right: none;
    }
}

.suggestion{
    background-color: #FFF1E2;
}
.link{
    color:darkblue;
}
.panel-link{
    min-height: 10rem;
    background-color: #FFF1E2;
    text-decoration: none;
    color: black;
    width: 100%;
    font-weight: bold;
}
.panel-link:hover{
    background-color: aliceblue;
    color:orange;
}
.footer-section{
    background-color: white;
}
.custom-button{
    background-color: rgb(243,133,8) !important;
    color: white !important;
}
.custom-button:hover{
    background-color: rgb(243,234,224) !important;
    color: rgb(243,133,8) !important;
    border-color: rgb(243,133,8) !important;
}

.default-button{
    cursor: pointer;
    border: none;
    padding: .375rem .75rem;
    border-radius: .25rem;
    border: 1px solid rgb(243,133,8);
    background-color: rgb(243,133,8);
    color: white !important;
    transition: all 0.3s ease;
}

.default-button:hover{
    background-color: rgb(243,234,224) !important;
    color: rgb(243,133,8) !important;
}

.green-button{
    cursor: pointer;
    border: none;
    padding: .375rem .75rem;
    border-radius: .25rem;
    border: 1px solid rgb(38, 189, 0);
    background-color: rgb(38, 189, 0);
    color: white !important;
    transition: all 0.3s ease;
}

.green-button:hover{
    background-color: rgb(243,234,224) !important;
    color: rgb(38, 189, 0) !important;
}

.red-button{
    cursor: pointer;
    border: none;
    padding: .375rem .75rem;
    border-radius: .25rem;
    border: 1px solid rgb(255, 0, 0);
    background-color: rgb(255, 0, 0);
    color: white !important;
    transition: all 0.3s ease;
}

.red-button:hover{
    background-color: rgb(243,234,224) !important;
    color: rgb(255, 0, 0) !important;
}

.tooltip1 {
    position: relative;
}
  
  .tooltip1 .tooltiptext1 {
    visibility: hidden;
    width: auto;
    min-width: 100px;
    background-color: white;
    color: black;
    text-align: center;
    border: 2px solid black;
    border-radius: 6px;
    padding: 5px 0;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 110%;
    left: auto;
    margin-left: -60px;
}
  
  .tooltip1:hover .tooltiptext1 {
    visibility: visible;
}

.evaluace_pocet{
    width: auto !important;
    display: inline !important;
}

.plot-div {
    background-color: #FFF1E2;
    /* width: 80%; */
    border: 1px solid;
    border-radius: .3rem;
    border-color: rgb(243,133,8);
    padding: 1rem;
    margin-bottom: 1rem;
}

.canvas-div-wrapper{
    display: flex;
    justify-content: center;
    max-width: 800px;
    margin: auto;
}

.canvas-div{
    width: 90%;
}
.otazka{
    font-weight: bold;
}

.odpoved-div{
    background-color: white;
    padding: .2rem;
    margin-bottom: .5rem;
    font-style: italic;
    border: 1px solid;
    border-radius: .3rem;
    border-color: rgb(243,133,8);
}

.totpal_hra_div{
    text-align: center;
}

.totpal_topic{
    font-size: 10vw;
}

.ctvrtletka-canvas-wrapper{
    display: flex;
    justify-content: center
}

.ctvrtletka-canvas-div{
    width: 80%
}

.ctvrtletka-prumery{
    text-align: center;
}

.dny_histogram_div{
    display: flex;
    justify-content: center;
    max-width: 800px;
    margin: auto;
}

.krouzky-login {
    display: flex;
    flex-direction: column;
    align-items: center;
}