{% extends "index.html" %}

{% block content %}
<h2>Evaluace učitelů na ACGA</h2>
<ul>
    <li>Tato stránka slouží jako vstup do evaluace učitelů na ACGA.</li>
    <li>Vyplňuje se jeden dotazník vázáný na jednoho učitele. Pokud chcete hodnotit více učitelů, měli by Vám vydat více přístupových kódů.</li>
    <li>Proč využíváme přístupové kódy? Protože plní dva úkoly: Díky nim nemůže jeden člověk vyplnit mnoho formulářů, zároveň tím nepřicházíte o anonymitu. Učitel by neměl při rozdávání kódů vědět, který přístupový kód si jaký student vzal.</li>
    <li>Se správným kódem je možné evaluaci vyplňovat vícekrát. Na konci dotazníku je možnost uložení, nebo možnost odevzdání.</li>
    <li>Formulář, který je označený jako odevzdaný, už nemůžete upravovat, je je však možné na něj nahlédnout.</li>
</ul>
<script type="module" src="{{url_for('static', filename='js/one_page_apps/acga_evaluace.js')}}"></script>

{% endblock %}