{% extends "context.html" %}

{% block content %}
<h1>Test lokace</h1>
<link rel="stylesheet" href="{{url_for('static', filename='css/one_page_apps/location.css')}}">
<p>
    Tohle vzniklo jako test lokační API před prvním výstřelem
</p>
<p>
    Živej Location watcher, co ukazuje aktuální přesnost: <span id="live_location">N/A</span>
</p>
<button class="btn custom-button my-2" id="get_location">Poloha, jak byla použita na PV 2025</button><br>
<button class="btn custom-button" id="get_accurate_location">Test přesnější polohy na PV 2026<span class="loader">↻</span></button>

<script src="{{url_for('static', filename='js/one_page_apps/location.js')}}"></script>

{% endblock %}