{% extends "admin/admin_navbar.html" %}

{% block content %}
<form method="post">
    <h2>Seznam Adminů</h2>
    <div class="table-responsive"><table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">email</th>
                <th scope="col">Poslední přihlášení</th>
                <th scope="col">Confirmed</th>
                <th scope="col">Detail</th>
            </tr>
        </thead>
        <tbody id="users"></tbody>
    </table></div>
</form>

<script type="module" src="{{url_for('static', filename='js/admin/admin_seznam_adminu.js')}}"></script>

{% endblock %}