{% extends "index.html" %}
{% block nav %}
    <li class="nav-item"><a class="nav-link active" href="{{url_for('guest_views.dashboard')}}">&lt-Zpět</a></li>
    <li class="nav-item"><a class="nav-link active" href="{{url_for('admin_views.admin_dashboard')}}">Admin dashboard</a></li>
    {% if "editing_users" in roles %}
        <li class="nav-item"><a class="nav-link active" href="{{url_for('admin_views.edit_users')}}">Uživatelé</a></li>
        <li class="nav-item"><a class="nav-link active" href="{{url_for('admin_views.edit_admins')}}">Administrátoři</a></li>
    {% endif %}
    
    {% if "editing_roles" in roles or "editing_admins" in roles %}
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Role</a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            {% if "editing_roles" in roles %}
            <li class="nav-item"><a class="nav-link active" href="{{url_for('admin_views.uprava_roli')}}">Úprava rolí</a></li>
            {% endif %}
            {% if "editing_admins" in roles %}
            <li class="nav-item"><a class="nav-link active" href="{{url_for('admin_views.jmenovat_adminy')}}">Jmenování adminů</a></li>
            {% endif %}
        </ul>
    </li>
    {% endif %}
    {% if "editing_suggestions" in roles %}
        <li class="nav-item"><a class="nav-link active" href="{{url_for('admin_views.uprava_znamych_bugu')}}">Připomínky</a></li>
    {% endif %}
    {% if "editing_app_logs" in roles %}
        <li class="nav-item"><a class="nav-link active" href="{{url_for('admin_views.logs_file')}}">Logy</a></li>
    {% endif %}

{% endblock %}