{% extends "admin_navbar.html" %}

{% block content %}
<h2>Úprava rolí stávajících adminů</h2>
<form method="post">
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">email</th>
                    <th scope="col">Vybrat...</th>
                </tr>
            </thead>
            <tbody id="admins"></tbody>
        </table>
    </div>
    <h2>Jmenování nových adminů</h2>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">email</th>
                    <th scope="col">Vybrat...</th>
                </tr>
            </thead>
            <tbody id="users"></tbody>
        </table>
    </div>
</form>

<script type="module" src="{{url_for('static', filename='js/admin_jmenovat_adminy.js')}}"></script>

{% endblock %}