{% extends "acga/student_navbar.html" %}

{% block content %}
<h2>Zadání DDÚ před 4. čtvrtletní prací pro JU3</h2>
<div class="row">
    <div class="col-sm">
        <input type="text" id="prijmeni" class="form-control" placeholder="Příjmení">
    </div>
    <div class="col-sm-auto">
        <button id="generovat_button" class="btn btn-primary">Generovat</button>
    </div>
</div>
<div class="row" id="zadani"></div>


<script type="module" src="{{url_for('static', filename='js/acga/astrofyzika.js')}}"></script>
{% endblock %}