{% extends "acga/navbar.html" %}
{% block content %}
<h2 class="my-3">Evaluace na ACGA</h2>
<p>
    Tato stránka je přístupná pouze po přihlášení a po té, co Vás Josef Lát označí za učitele na ACGA. Evaluace probíhá následovně:
    <ol>
        <li>Učitel zde vygeneruje patřičný počet přístupových kódů</li>
        <li>Ty nechá stáhnout jako .txt, vytiskne, rozstříhá a náhodně rozdá studentům</li>
        <li>Studenti s kódem vyplní dotazník a až ho odevzdají, bude tu k nahléduntí</li>
    </ol>
    Se studenty můžete sdílet <a href="{{url_for('acga_views.evaluace')}}">tento link</a>, na něm mohou evaluaci vyplnit. Jsou tam také dovysvětleny další detaily evaluace. Dále tu můžete zobrazit souhrnné výsledky a detaily jednotlivých odevzdaných formulářů.
</p>
<h2 class="my-3">Nastavení jména učitele</h2>
<form method="post" class="my-2">
    <div class="row">
        <div class="col">
            <input type="text" class="form-control" name="acga_jmeno" id="acga_jmeno" placeholder="např. Pavla Bajuzsová">
        </div>
        <div class="col-auto">
            <button type="submit" name="acga_jmeno_button", value="whatever", class="btn custom-button">Uložit</button>
        </div>
    </div>
</form>
<h2 class="my-3">Vytvoření přístupových kódů</h2>
<form method="post" id="vytvorit_form">
    Přeji si vygenerovat <input type="number" class="form-control evaluace_pocet" placeholder="kolik" id="pocet_kodu" name="pocet_kodu" required> přístupových kódů pro studenty. <button id="generovat" class="btn custom-button" type="button">Generovat</button>
</form>
<h2 class="my-3">Souhrnné statistiky</h2>
<a href="{{url_for('acga_views.evaluace_statistiky')}}"><button class="btn custom-button" id="ukazat_statistiky">Ukázat</button></a>

<h2 class="my-3" id="detaily_nadpis">Detaily jednotlivých formulářů</h2>
<button class="btn custom-button" id="ukazat_detaily_button">Ukázat</button>
<div id="detaily" hidden>
    <form method="post" id="detaily_form">
        <h2 class="my-3">Vyplněné a odevzdané formuláře</h2>
        <div id="vyplnene"></div>
        <h2 class="my-3">Neodevzdané formuláře</h2>
        <div class="row my-2">
            <div class="col">
                Smazat neodevzdané formuláře starší než <input type="date" name="smazat_starsi_nez" id="date">
            </div>
            <div class="col-3">
                <button class="btn btn-danger" type="button" id="smazat_stare">Smazat</button>
            </div>
        </div>
    </form>
    <form method="post">
        <div class="row my-2">
            <div class="col">
                Vytisknout kódy k neodevzdaným formulářům
            </div>
            <div class="col-3">
                <button class="btn custom-button" name="tisk_neodevzdane" value="whatever" type="submit">Tisk</button>
            </div>
        </div>
    <form method="post">
        <div id="nevyplnene"></div>
    </form>
    </form>
</div>

<script type="module" src="{{url_for('static', filename='js/acga/cist_evaluace.js')}}"></script>

{% endblock %}