{% extends "acga/navbar.html" %}
{% block content %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<h2 class="">Souhrnné výsledky</h2>
<p>
    Zde můžete zobrazit souhrn všech odevzdaných dotazníků za poslední období.
</p>
<form method="post" id="form">
    Přeji si ukázat souhrn statistik od <input type="date" id="date"> do dnes.
    <button class="btn custom-button" type="button" id="ukazat">Ukázat</button>
</form>

<div id="result" hidden>
    <span id="count"></span>
</div>
<script type="module" src="{{url_for('static', filename='js/acga/evaluace_statistiky.js')}}"></script>

{% endblock %}