{% extends "acga/navbar.html" %}

{% block content %}
<h2>Evaluace učitelů na ACGA</h2>
<ul>
    <li>Tato stránka slouží jako vstup do evaluace učitelů na ACGA.</li>
    <li>Vyplňuje se jeden dotazník vázáný na jednoho učitele. Pokud chcete hodnotit více učitelů, měli by Vám vydat více přístupových kódů.</li>
    <li>Proč využíváme přístupové kódy? Protože plní dva úkoly: Díky nim nemůže jeden člověk vyplnit mnoho formulářů, zároveň tím nepřicházíte o anonymitu. Učitel by neměl při rozdávání kódů vědět, který přístupový kód si jaký student vzal. Kolik je celkem různých kódů, když je na výběr celkem z 260 slov a každý kód se skládá ze tří?</li>
    <li>Se správným kódem je možné evaluaci vyplňovat na vícekrát. Na konci dotazníku je možnost uložení, nebo možnost odevzdání.</li>
    <li>Formulář, který je označený jako odevzdaný, už nemůžete upravovat, je však možné na něj nahlédnout.</li>
</ul>
<form method="post">
    <div class="row">
        <div class="col-auto">
            Zadejte přístupový kód:
        </div>
        <div class="col">
            <input class="form-control" name="kod" placeholder="tři slova oddělená mezerami">
        </div>
        <div class="col-auto">
            <button type="submit" class="btn custom-button" name="zadany_kod" value="whatever">Vyplnit evaluaci</button>
        </div>
    </div>
</form>
<script type="module" src="{{url_for('static', filename='js/acga/evaluace.js')}}"></script>

{% endblock %}