{% extends "acga/student_navbar.html" %}

{% block content %}
<script src="https://accounts.google.com/gsi/client" async></script>
<div class="krouzky-login">
    <h2>Nezávazný zájem o volnočasové aktivity</h2>
    <p>
        Kroužky si smíte zapsat po přihlášení Vaším školním google účtem:
    </p>
    
    <div id="g_id_onload"
        data-client_id="687283986989-pr2mcvs198cu7nfqciut108dupje5a0f.apps.googleusercontent.com"
        data-context="signin"
        data-ux_mode="popup"
        data-login_uri="{{ site_url }}/acga/google_auth_receiver_acga_student"
        data-auto_prompt="false">
    </div>

    <div class="g_id_signin"
        data-type="standard"
        data-shape="rectangular"
        data-theme="outline"
        data-text="continue_with"
        data-size="large"
        data-logo_alignment="left">
    </div>

</div>

{% endblock %}