{% extends "acga/navbar.html" %}

{% block content %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


<h2>Tvorba výstupu z čtvrtletní práce</h2>
<div class="row">
    <div class="col-sm-8">
        <ul>
            <li>Při čtvrtletkách se ptám, kolik procent studenti očekávají.</li>
            <li>Tady na stránce se zapíšou očekávané a obdržené známky a vytvoří se graf podhodnocení.</li>
            <li>Studenti, kteří nenapíšou očekávání, nejsou započítáni. Jejich obdržená známka ale je započítána do průměrné.</li>
            <li>Známky se zapisují jako <code>očekávaná, obdržená</code> a oddělují se enterem. Mezera mezi čísly není nutná.</li>
            <li>Absence obdržené známky se zapíše pomocí <code>-</code>.</li>
            <li>Desetinné čárky nejsou podporovány páč boduju v procentech</li>
        </ul>
        <button class="btn custom-button" id="button">Budiž</button>
        <button class="btn custom-button" id="download_plot" hidden>Stáhnout obrázek plotu</button>
        <button class="btn custom-button" id="download_histogram" hidden>Stáhnout obrázek histogramu</button>
    </div>
    <div class="col-sm-4">
        <textarea class="form-control" rows="10" id="textarea" placeholder="příklad, příklad"></textarea>
    </div>
</div>
<div id="result" hidden>
    <hr>
    <div class="ctvrtletka-prumery">
        Průměrná očekávaná známka: <span id="avg_exp"></span><br>
        Průměrná obdržená známka: <span id="avg"></span><br>
    </div>
    <hr>
    <div class="ctvrtletka-canvas-wrapper">
       <div class="ctvrtletka-canvas-div" id="plot_div">
       </div>
    </div>
    <br>
    <div class="ctvrtletka-canvas-wrapper">
        <div class="ctvrtletka-canvas-div" id="histogram_div">
        </div>
     </div>
</div>
   
</div>
<script type="module" src="{{url_for('static', filename='js/acga/statistika_ctvrtletky.js')}}"></script>

{% endblock %}